### Temp files ###
nohup.out
*.[oa]
*.pyc
*.*~
*.s
*.swp
cscope.out

### Build artifacts ###
CMakeCache.txt
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
CMakeFiles/
Makefile
cmake_install.cmake
config.h
doc/
modinit.c
openchronos.elf
openchronos.txt
output.map
modules/githash.h